<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olympiad_algorithms.visualization_of_the_olympiad_algorithms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPageActivity"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityDynamicPr"
            android:label="@string/title_activity_dynamic_pr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityPosled"
            android:label="@string/title_activity_posled"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityPosled1"
            android:label="@string/title_activity_posled1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityPosled2"
            android:label="@string/title_activity_posled2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityPosled3"
            android:label="@string/title_activity_posled3"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>